body {
  scroll-behavior: smooth;
  overflow: visible;
  font-family: Lato !important; }
  body.menu-opened {
    overflow: hidden; }

.page {
  width: 100%; }

.logo img {
  width: 94px;
  height: 85px; }

.info-block_gallery {
  position: relative;
  padding: 70px 70px 63px 70px;
  padding-bottom: auto; }
  .info-block_gallery::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: calc(50% - 11px);
    border: 12px solid transparent;
    border-top: 12px solid #ffffff; }
.info-block__icon {
  display: block;
  width: 52px;
  height: 43px;
  margin: 0 auto; }
  .info-block__icon_gallery {
    width: auto;
    height: auto; }
.info-block__caption {
  padding: 34px 0 34px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  text-align: center; }
  .info-block__caption_gallery {
    padding: 34px 0 25px; }
.info-block__text {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
  text-align: center; }
  .info-block__text_gallery {
    text-align: justify; }
    .info-block__text_gallery::after {
      content: '';
      display: block;
      margin: 32px auto 0;
      width: 50px;
      height: 1px;
      background-color: rgba(53, 55, 56, 0.2); }
