/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato-v22-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v22-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v22-latin-300.woff2") format("woff2"), url("../fonts/lato-v22-latin-300.woff") format("woff"), url("../fonts/lato-v22-latin-300.ttf") format("truetype"), url("../fonts/lato-v22-latin-300.svg#Lato") format("svg");
  /* Legacy iOS */ }
/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/lato-v22-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v22-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v22-latin-300italic.woff2") format("woff2"), url("../fonts/lato-v22-latin-300italic.woff") format("woff"), url("../fonts/lato-v22-latin-300italic.ttf") format("truetype"), url("../fonts/lato-v22-latin-300italic.svg#Lato") format("svg");
  /* Legacy iOS */ }
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v22-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v22-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v22-latin-regular.woff2") format("woff2"), url("../fonts/lato-v22-latin-regular.woff") format("woff"), url("../fonts/lato-v22-latin-regular.ttf") format("truetype"), url("../fonts/lato-v22-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }
/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/lato-v22-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v22-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v22-latin-italic.woff2") format("woff2"), url("../fonts/lato-v22-latin-italic.woff") format("woff"), url("../fonts/lato-v22-latin-italic.ttf") format("truetype"), url("../fonts/lato-v22-latin-italic.svg#Lato") format("svg");
  /* Legacy iOS */ }
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v22-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v22-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v22-latin-700.woff2") format("woff2"), url("../fonts/lato-v22-latin-700.woff") format("woff"), url("../fonts/lato-v22-latin-700.ttf") format("truetype"), url("../fonts/lato-v22-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */ }
/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/lato-v22-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v22-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v22-latin-700italic.woff2") format("woff2"), url("../fonts/lato-v22-latin-700italic.woff") format("woff"), url("../fonts/lato-v22-latin-700italic.ttf") format("truetype"), url("../fonts/lato-v22-latin-700italic.svg#Lato") format("svg");
  /* Legacy iOS */ }
