.slider {
  display: flex;
  justify-content: center;
  margin-bottom: 4.25vw; }
  .slider__item {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: rgba(40, 47, 53, 0);
    border: 1px solid #c8c8c8;
    border-radius: 50%;
    margin: 0 4.5px; }
    .slider__item_active {
      background-color: #a9afb3; }
