@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a:focus, a:active {
  outline: none; }

:focus, :active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
body {
  scroll-behavior: smooth;
  overflow: visible;
  font-family: Lato !important; }
  body.menu-opened {
    overflow: hidden; }

.page {
  width: 100%; }

.logo img {
  width: 94px;
  height: 85px; }

.info-block_gallery {
  position: relative;
  padding: 70px 70px 63px 70px;
  padding-bottom: auto; }
  .info-block_gallery::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: calc(50% - 11px);
    border: 12px solid transparent;
    border-top: 12px solid #ffffff; }
.info-block__icon {
  display: block;
  width: 52px;
  height: 43px;
  margin: 0 auto; }
  .info-block__icon_gallery {
    width: auto;
    height: auto; }
.info-block__caption {
  padding: 34px 0 34px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  text-align: center; }
  .info-block__caption_gallery {
    padding: 34px 0 25px; }
.info-block__text {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
  text-align: center; }
  .info-block__text_gallery {
    text-align: justify; }
    .info-block__text_gallery::after {
      content: '';
      display: block;
      margin: 32px auto 0;
      width: 50px;
      height: 1px;
      background-color: rgba(53, 55, 56, 0.2); }

.page_header {
  height: 100vh;
  padding-top: 64px;
  background: url("../img/bg.png") 50% 50%/cover no-repeat; }

.header {
  width: 100%;
  height: 100%; }

.logo_header {
  position: absolute;
  z-index: 2;
  left: calc(50% - 94px/2);
  top: 36px; }

.burger {
  display: none; }

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: center; }
.menu__item a, .menu__item:first-child::after, .menu__item:last-child::before {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959; }
.menu__item:first-child::after, .menu__item:last-child::before {
  content: '.';
  margin: 0 35px; }
.menu__item:nth-child(2) {
  margin-right: 222px; }
.menu__item a:hover {
  color: #64c29e;
  transition: color 0.2s ease-in; }
.menu__item a:not(:hover) {
  transition: color 0.2s ease-out; }

@media screen and (max-width: 650px) {
  .page_header {
    padding-top: 0; }

  .burger {
    display: flex;
    z-index: 2;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 30px;
    background-color: transparent;
    justify-content: space-around;
    align-items: center; }
    .burger.menu-opened div {
      transition: all 0.3s ease-in;
      position: absolute;
      left: 4px; }
    .burger.menu-opened div:nth-child(1) {
      top: 15px;
      transform: rotate(-45deg); }
    .burger.menu-opened div:nth-child(2) {
      display: none; }
    .burger.menu-opened div:nth-child(3) {
      top: 15px;
      transform: rotate(45deg); }
    .burger:hover div {
      background-color: #64c29e; }
    .burger__line {
      transition: all 0.3s ease-out;
      width: 32px;
      height: 2px;
      background-color: #4d4959; }

  .menu {
    z-index: 1;
    position: fixed;
    transition: top 0.5s ease-out;
    top: -100%;
    height: 100%;
    width: 100%;
    padding-top: 120px;
    background: rgba(247, 247, 247, 0.8); }
    .menu__list {
      flex-direction: column;
      width: 100%;
      height: 70%;
      justify-content: space-around;
      align-items: center; }
    .menu__item {
      align-items: center;
      text-align: center;
      margin: 0; }
      .menu__item:nth-child(2) {
        margin: 0; }
      .menu__item a {
        font-size: 33px; }
      .menu__item:first-child::after, .menu__item:last-child::before {
        content: '';
        margin: 0;
        margin-top: 10px; }
      .menu__item::after {
        content: '';
        display: block;
        width: 250px;
        height: 1px;
        background-color: #64c29e;
        margin-top: 10px; }
    .menu.menu-opened {
      display: block;
      transition: top 0.5s ease-out;
      top: 0; } }
.page_generation {
  background-color: #f7f7f7; }

.generation__content {
  width: 100%;
  height: 100%;
  padding: 7.5vw 15vw 9vw 17.5vw; }

@media screen and (min-width: 1600px) {
  .generation__content {
    padding: 120px 245px 145px 280px; } }
@media screen and (max-width: 800px) {
  .info-block__text {
    text-align: justify; } }
.gallery__content {
  display: grid;
  grid-template-areas: "block1 block1 block2" "block3 block4 block4" "block5 block6 block7";
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-content: stretch;
  align-items: stretch; }
  @media screen and (max-width: 1000px) {
    .gallery__content {
      grid-template-areas: "block1" "block2" "block4" "block3" "block5" "block6" "block7";
      grid-template-rows: repeat(7, auto);
      grid-template-columns: 1fr; } }
.gallery__item {
  height: 100%;
  width: 100%;
  position: relative; }
  .gallery__item:nth-child(1) {
    grid-area: block1; }
  .gallery__item:nth-child(2) {
    grid-area: block2; }
  .gallery__item:nth-child(3) {
    grid-area: block3; }
  .gallery__item:nth-child(4) {
    grid-area: block4; }
  .gallery__item:nth-child(5) {
    grid-area: block5; }
  .gallery__item:nth-child(6) {
    grid-area: block6; }
  .gallery__item:nth-child(7) {
    grid-area: block7; }
.gallery__pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .gallery__pic_small {
    height: 100%;
    width: 100%; }
.gallery__pic-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
.gallery__pic-with-description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  height: 100%;
  width: 100%; }

@media screen and (max-width: 1000px) {
  .gallery__content {
    grid-template-areas: "block1" "block2" "block4" "block3" "block5" "block6" "block7";
    grid-template-rows: repeat(7, auto);
    grid-template-columns: 1fr;
    row-gap: 10px; }
  .gallery__pic-with-description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%; }

  .info-block_gallery {
    padding: 7.5vw 15vw 9vw 17.5vw; } }
.twitter__content {
  width: 100%;
  height: 100%; }
.twitter__item {
  display: none;
  padding: 7.7vw 17.5vw 6.125vw;
  text-align: center; }
  .twitter__item_active {
    display: block; }
.twitter__icon img {
  width: 32px;
  height: 27px;
  display: block;
  margin: 0 auto; }
.twitter__source {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
  margin: 35px 0 20px 0; }
  .twitter__source span {
    font-weight: 300;
    color: #848789; }
.twitter__text {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789; }

.slider {
  display: flex;
  justify-content: center;
  margin-bottom: 4.25vw; }
  .slider__item {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: rgba(40, 47, 53, 0);
    border: 1px solid #c8c8c8;
    border-radius: 50%;
    margin: 0 4.5px; }
    .slider__item_active {
      background-color: #a9afb3; }

@media screen and (max-width: 800px) {
  .twitter__text {
    text-align: justify; } }
.shop__content {
  display: grid;
  grid-template-areas: "shop1 shop2 shop3 shop4 shop5 shop5" "shop6 shop6 shop3 shop4 shop7 shop8";
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr); }
.shop__item {
  display: block;
  height: 100%;
  width: 100%;
  position: relative; }
  .shop__item:nth-child(1) {
    grid-area: shop1; }
  .shop__item:nth-child(2) {
    grid-area: shop2; }
  .shop__item:nth-child(3) {
    grid-area: shop3; }
  .shop__item:nth-child(4) {
    grid-area: shop4; }
  .shop__item:nth-child(5) {
    grid-area: shop5; }
  .shop__item:nth-child(6) {
    grid-area: shop6; }
  .shop__item:nth-child(7) {
    grid-area: shop7; }
  .shop__item:nth-child(8) {
    grid-area: shop8; }
  .shop__item::after {
    content: '';
    width: 0;
    transition: width 0.4s ease-in; }
  .shop__item:hover::after {
    content: '';
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(100, 194, 158, 0.8) url("../img/shop.png") 50% calc(50% - 13.5px)/51px 30px no-repeat; }
  .shop__item::before {
    content: '';
    width: 0;
    transition: width 0.4s ease-in; }
  .shop__item:hover::before {
    content: 'Shop now';
    z-index: 2;
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: 13.5px; }
.shop__pic {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%; }

@media screen and (max-width: 1000px) {
  .shop__content {
    display: grid;
    grid-template-areas: "shop1 shop2 shop3" "shop6 shop6 shop3" "shop4 shop5 shop5" "shop4 shop7 shop8";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr); } }
@media screen and (max-width: 650px) {
  .shop__content {
    display: grid;
    grid-template-areas: "shop1 shop2" "shop6 shop6" "shop3 shop4" "shop3 shop4" "shop3 shop4" "shop5 shop5" "shop7 shop8";
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr); } }
.discover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12.5vw;
  min-height: 70px;
  background-color: #282f35; }
  .discover__button {
    margin: 0 10px;
    display: block;
    width: 300px;
    min-width: 210px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.49);
    font-family: Lato;
    font-size: 14px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    text-align: center; }
    .discover__button:hover {
      background-color: #64c29e;
      transition: all 0.3s ease-in; }
    .discover__button:not(:hover) {
      transition: all 0.3s ease-in; }

.page_subscribe {
  width: 100%;
  background-color: #ffffff; }

.subscribe__content {
  padding: 110px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
.subscribe__moto {
  font-family: Lato;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  margin: 40px 0 35px 0; }
.subscribe__form {
  display: flex; }
.subscribe__e-mail-input {
  width: 400px;
  height: 69px;
  background-color: #ffffff;
  border: 1px solid #d3d7d9;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
  padding-left: 27.5px; }
.subscribe__go-button {
  width: 126px;
  height: 69px;
  background-color: #64c29e;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  cursor: pointer;
  margin-left: 9px; }
  .subscribe__go-button:hover {
    animation: bg-pulsation 1s infinite; }

@keyframes bg-pulsation {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }
@media screen and (max-width: 800px) {
  .subscribe__content {
    padding: 110px 40px; } }
@media screen and (max-width: 600px) {
  .subscribe__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .subscribe__moto {
    margin: 20px 0 20px 0; }
  .subscribe__form {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .subscribe__e-mail-input {
    width: 100%; }
  .subscribe__go-button {
    width: 100%;
    margin-left: 0;
    margin-top: 10px; } }
.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 100px 250px 103px; }
.footer__address {
  font-family: Lato;
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #848789; }
  .footer__address span {
    display: block;
    font-size: 13.9px;
    font-weight: 400;
    font-style: italic; }
.footer__socials {
  display: flex; }
.footer__social {
  display: block;
  position: relative;
  font-family: Lato;
  font-size: 13.9px;
  font-weight: 400;
  color: #848789; }
  .footer__social:nth-child(2) {
    margin: 0 15px; }
  .footer__social img {
    width: 35px;
    height: 34px; }
  .footer__social::after {
    content: ''; }
  .footer__social:hover::after {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    padding: 3px;
    border: 1px solid #848789;
    background-color: #f7f7f7;
    transition: all 0.1s ease-in; }
  .footer__social_twitter:hover::after {
    content: 'Twitter'; }
  .footer__social_facebook:hover::after {
    content: 'Facebook'; }
  .footer__social_pinterest:hover::after {
    content: 'Pinterest'; }

.handcrafted {
  display: flex;
  align-items: center;
  justify-content: center; }
  .handcrafted__text {
    font-family: Lato;
    font-size: 13.9px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
    padding-right: 10px; }
  .handcrafted__logo {
    display: block; }
    .handcrafted__logo img {
      width: 55px;
      height: 36px; }

@media screen and (max-width: 1100px) {
  .footer__content {
    padding: 100px 20px 103px;
    justify-content: space-around; } }
@media screen and (max-width: 640px) {
  .footer__content {
    flex-direction: column;
    padding: 40px 20px;
    justify-content: space-around; }
  .footer__socials {
    order: 1; }
  .footer__address {
    order: 2;
    text-align: center;
    margin: 20px 0; }

  .handcrafted {
    order: 3; } }
/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato-v22-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v22-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v22-latin-300.woff2") format("woff2"), url("../fonts/lato-v22-latin-300.woff") format("woff"), url("../fonts/lato-v22-latin-300.ttf") format("truetype"), url("../fonts/lato-v22-latin-300.svg#Lato") format("svg");
  /* Legacy iOS */ }
/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/lato-v22-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v22-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v22-latin-300italic.woff2") format("woff2"), url("../fonts/lato-v22-latin-300italic.woff") format("woff"), url("../fonts/lato-v22-latin-300italic.ttf") format("truetype"), url("../fonts/lato-v22-latin-300italic.svg#Lato") format("svg");
  /* Legacy iOS */ }
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v22-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v22-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v22-latin-regular.woff2") format("woff2"), url("../fonts/lato-v22-latin-regular.woff") format("woff"), url("../fonts/lato-v22-latin-regular.ttf") format("truetype"), url("../fonts/lato-v22-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }
/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/lato-v22-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v22-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v22-latin-italic.woff2") format("woff2"), url("../fonts/lato-v22-latin-italic.woff") format("woff"), url("../fonts/lato-v22-latin-italic.ttf") format("truetype"), url("../fonts/lato-v22-latin-italic.svg#Lato") format("svg");
  /* Legacy iOS */ }
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v22-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v22-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v22-latin-700.woff2") format("woff2"), url("../fonts/lato-v22-latin-700.woff") format("woff"), url("../fonts/lato-v22-latin-700.ttf") format("truetype"), url("../fonts/lato-v22-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */ }
/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/lato-v22-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v22-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v22-latin-700italic.woff2") format("woff2"), url("../fonts/lato-v22-latin-700italic.woff") format("woff"), url("../fonts/lato-v22-latin-700italic.ttf") format("truetype"), url("../fonts/lato-v22-latin-700italic.svg#Lato") format("svg");
  /* Legacy iOS */ }
