.twitter__content {
  width: 100%;
  height: 100%; }
.twitter__item {
  display: none;
  padding: 7.7vw 17.5vw 6.125vw;
  text-align: center; }
  .twitter__item_active {
    display: block; }
.twitter__icon img {
  width: 32px;
  height: 27px;
  display: block;
  margin: 0 auto; }
.twitter__source {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
  margin: 35px 0 20px 0; }
  .twitter__source span {
    font-weight: 300;
    color: #848789; }
.twitter__text {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789; }

.slider {
  display: flex;
  justify-content: center;
  margin-bottom: 4.25vw; }
  .slider__item {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: rgba(40, 47, 53, 0);
    border: 1px solid #c8c8c8;
    border-radius: 50%;
    margin: 0 4.5px; }
    .slider__item_active {
      background-color: #a9afb3; }

@media screen and (max-width: 800px) {
  .twitter__text {
    text-align: justify; } }
