.page {
	// .page_header
	&_header{
		height: 100vh;
		padding-top: 64px;
		background: url('../img/bg.png') 50% 50%/cover no-repeat;
	}
}

.header {
	// max-width: 620px;
	width: 100%;
	height: 100%;
}

.logo_header {
	position: absolute;
	z-index: 2;
	left: calc(50% - 94px/2);
	top: 36px;
}

.burger{
	display: none;
}

.menu {
	&__list{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	&__item{
		& a,
		&:first-child::after,
		&:last-child::before{
			// font-family: Lato;
			font-size: 13px;
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #4d4959;
		}
		&:first-child::after,
		&:last-child::before{
			content: '.';
			margin: 0 35px;
		}
		&:nth-child(2){
			margin-right: 222px;
		}
		& a:hover{
			color: $base-green;
			transition: color 0.2s ease-in;
		}
		& a:not(:hover){
			transition: color 0.2s ease-out;
		}
	}
}

@media screen and (max-width: 650px) {
	.page {
		// .page_header
		&_header{
			padding-top: 0;
		}
	}
	.burger{
		display: flex;
		z-index: 2;
		flex-direction: column;
		position: absolute;
		top: 20px;
		right: 20px;
		width: 40px;
		height: 30px;
		background-color: transparent;
		justify-content: space-around;
		align-items: center;
		&.menu-opened{
			& div{
				transition: all 0.3s ease-in;
				position: absolute;
				left: 4px;
			}
			& div:nth-child(1){
				top: 15px;
				transform: rotate(-45deg);
			}
			& div:nth-child(2){
				display: none;
			}
			& div:nth-child(3){
				top: 15px;
				transform: rotate(45deg);
			}
		}
		&:hover div{
			background-color: $base-green;
		}
		&__line{
			transition: all 0.3s ease-out;
			width: 32px;
			height: 2px;
			background-color: #4d4959;
		}
	}
	.menu {
		// display: none;
		z-index: 1;
		position: fixed;
		transition: top 0.5s ease-out;
		top: -100%;
		height: 100%;
		width: 100%;
		padding-top: 120px;
		background: rgba(#f7f7f7, 0.8);
		&__list{
			flex-direction: column;
			width: 100%;
			height: 70%;
			justify-content: space-around;
			align-items: center;
		}

		&__item{
			// display: flex;
			// flex-direction: column;
			// justify-content: center;
			 align-items: center;
			// height: 100%;
			text-align: center;
			margin: 0;
			&:nth-child(2){
				margin: 0;
			}
			& a{
				font-size: 33px;
			}
			&:first-child::after,
			&:last-child::before{
				content: '';
				margin: 0;
				margin-top: 10px;
			}
			&::after{
				content: '';
				display: block;
				width: 250px;
				height: 1px;
				background-color: $base-green;
				margin-top: 10px;
			}
		}
		&.menu-opened {
			display: block;
			transition: top 0.5s ease-out;
			top: 0;
		}
	}
}